* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #f0f2f5;
  text-align: center;
  font-family: 'Trebuchet MS';
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 110px;
  height: 100vh;
}

.products {
  overflow: auto;
  flex: 1;
  height: 100%;
}

.loading {
  margin-top: 10px;
  color: green;
}

.error {
  margin-top: 10px;
  color: red;
}