.search-bar {
    background-color: #fefefe;
    border-bottom: 10px solid #24292e;
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
}

.search-input {
    width: 400px;
    height: 20px;
    margin: 10px;
    border-radius: 100px;
    border: 1px solid #a1a1a1;
}

.search-input:focus,
.search-btn:focus {
    outline: none;
}

input[type=text] {
    padding: 15px 20px;
    box-sizing: border-box;  
}

.search-btn {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fefefe;
    background-color: #e01a22;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 12px;
}

.search-btn:hover {
    border: 1px solid #e01a22;
    color: #e01a22;
    background-color: #fefefe;
}